---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import projects from "../../data/projects";
import ProjectCard from "../../components/ProjectCard.astro";

---

<Layout title="Works | arsx">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Work</h1>

    <article class="flex flex-col gap-4">
      {
        // <section class="flex flex-col gap-4">
        //   {
        //       projects.length !== 0 &&
        //       projects.map((project) => <ProjectCard {...project} />)
        //   }
        // </section>
      }
    </article>
  </main>
</Layout>
