---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
import projects from "../../data/projects";
import ProjectCard from "../../components/ProjectCard.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="All Projects | arsx">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Projects & Contributions</h1>

    <article class="flex flex-col gap-4">
      {
        <section class="flex flex-col gap-4">
          {
              projects.length !== 0 &&
              projects.map((project) => <ProjectCard {...project} />)
          }
        </section>
      }
    </article>
  </main>
</Layout>
